<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="AotuoYDTestSuite">
		<parameter name="baseURL" value="http:localhost/addressbook/index.php" />
		<parameter name="driverFolder" value="\\Driver\\chromedriver.exe"/>
		<parameter name="screenShotFolder" value="Screenshots"/>
		<parameter name="title" value="Address Book"/>
		<parameter name="businessname" value="Fansahwe College London Ontario" />
		<parameter name="addr1" value="1011 Fanshawe College" />
		<classes>
			<class name="AutoYDTest" />
		</classes>
	</test> <!-- Test -->
</suite> 
